# Apache Spark intro


Apache Spark is a general-purpose, in-memory computing engine. Spark can be used with Hadoop, Yarn and other Big Data components to harness the power of Spark and improve the performance of your applications. It provides high-level APIs in Scala, Java, Python, R, and SQL.

**Spark Architecture**

Apache Spark works in a master-slave architecture where the master is called “Driver” and slaves are called “Workers”. The starting point of your Spark application is `sc`, a Spark Context Class instance. It runs inside the driver.

![](https://miro.medium.com/v2/resize:fit:1192/0*XzNeTtwEgIy5yWR_)


![](https://miro.medium.com/v2/resize:fit:1266/0*-PltnPR9row8iUDo)

**Apache Spark**: 
Sometimes also called Spark Core. The Spark Core implementation is a RDD (Resilient Distributed Dataset) which is a collection of distributed data across different nodes of the cluster that are processed in parallel.


**Spark SQL**: 
The implementation here is DataFrame, which is a relational representation of the data. It provides functions with SQL like capabilities. Also, we can write SQL like queries for our data analysis.


**Spark Streaming**: 
The implementation provided by this library is D-stream, also called Discretized Stream. This library provides capabilities to process/transform data in near real-time.


**MLlib**: 
This is a Machine Learning library with commonly used algorithms including collaborative filtering, classification, clustering, and regression.

**GraphX**: 
This library helps us to process Graphs, solving various problems (like Page Rank, Connected Components, etc) using Graph Theory.


Let’s dig a little deeper into Apache Spark (Spark Core), starting with RDD.

In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext(appName="myAppName")

In [3]:
sc

### RDD

- Resilient Distributed Dataset
- Podstawowa abstrakcja oraz rdzeń Sparka
- Obsługiwane przez dwa rodzaje operacji:
    - Akcje:
        - operacje uruchamiająceegzekucję transformacji na RDD
        - przyjmują RDD jako input i zwracają wynik NIE będący RDD
    - Transformacje:
        - leniwe operacje
        - przyjmują RDD i zwracają RDD

- In-Memory - dane RDD przechowywane w pamięci
- Immutable 
- Lazy evaluated
- Parallel - przetwarzane równolegle
- Partitioned - rozproszone 

## WAŻNE informacje !

Ważne do zrozumienia działania SPARKA:

Term                   |Definition
----                   |-------
RDD                    |Resilient Distributed Dataset
Transformation         |Spark operation that produces an RDD
Action                 |Spark operation that produces a local object
Spark Job              |Sequence of transformations on data with a final action


Dwie podstawowe metody tworzenia RDD:

Method                      |Result
----------                               |-------
`sc.parallelize(array)`                  |Create RDD of elements of array (or list)
`sc.textFile(path/to/file)`                      |Create RDD of lines from file

Podstawowe transformacje

Transformation Example                          |Result
----------                               |-------
`filter(lambda x: x % 2 == 0)`           |Discard non-even elements
`map(lambda x: x * 2)`                   |Multiply each RDD element by `2`
`map(lambda x: x.split())`               |Split each string into words
`flatMap(lambda x: x.split())`           |Split each string into words and flatten sequence
`sample(withReplacement=True,0.25)`      |Create sample of 25% of elements with replacement
`union(rdd)`                             |Append `rdd` to existing RDD
`distinct()`                             |Remove duplicates in RDD
`sortBy(lambda x: x, ascending=False)`   |Sort elements in descending order

Podstawowe akcje 

Action                             |Result
----------                             |-------
`collect()`                            |Convert RDD to in-memory list 
`take(3)`                              |First 3 elements of RDD 
`top(3)`                               |Top 3 elements of RDD
`takeSample(withReplacement=True,3)`   |Create sample of 3 elements with replacement
`sum()`                                |Find element sum (assumes numeric elements)
`mean()`                               |Find element mean (assumes numeric elements)
`stdev()`                              |Find element deviation (assumes numeric elements)

In [4]:
keywords = ['Books', 'DVD', 'CD', 'PenDrive']

key_rdd = sc.parallelize(keywords)

In [5]:
key_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:287

In [6]:
key_rdd.collect()

['Books', 'DVD', 'CD', 'PenDrive']

In [7]:
key_small = key_rdd.map(lambda x: x.lower()) # transormacja

In [8]:
[key.lower() for key in keywords]

['books', 'dvd', 'cd', 'pendrive']

In [9]:
key_small

PythonRDD[1] at RDD at PythonRDD.scala:53

In [10]:
key_small.collect() # akcja

['books', 'dvd', 'cd', 'pendrive']

In [11]:
sc.stop()

**Spark’s core data structure**

✅: A low level object that lets Spark work its magic by splitting data across multiple nodes in the cluster.

❌: However, RDDs are hard to work with directly, so we’ll be using the Spark DataFrame abstraction built on top of RDDs.

## MAP REDUCE

In [29]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("new").getOrCreate()

# otrzymanie obiektu SparkContex
sc = spark.sparkContext

In [30]:
spark

In [31]:
import re
# Word Count on RDD

rdd = (sc.textFile("*.py")
.map(lambda x: re.findall(r"[a-z']+", x.lower()))
.flatMap(lambda x: [(y, 1) for y in x])
.reduceByKey(lambda x,y: x + y))

In [32]:
rdd

PythonRDD[6] at RDD at PythonRDD.scala:53

In [33]:
rdd.take(4)

[('request', 6), ('errors', 5), ('end', 3), ('load', 7)]

In [34]:
spark.stop()

## SPARK STREAMING

Część Sparka odpowiedzialna za przetwarzanie danych w czasie rzeczywistym. 


<img src="https://spark.apache.org/docs/latest/img/streaming-arch.png"/>

Dane mogą pochodzić z różnych źródeł np. sokety TCP, Kafka, etc. 
Korzystając z poznanych już metod `map, reduce, join, oraz window` można w łatwy sposób generować przetwarzanie strumienia tak jaby był to nieskończony ciąg RDD. 
Ponadto nie ma problemu aby wywołać na strumieniu operacje ML czy wykresy. 

Cała procedura przedstawia się następująco: 

<img src="https://spark.apache.org/docs/latest/img/streaming-flow.png"/>

SPARK STREAMING w tej wersji wprowadza abstrakcje zwaną `discretized stream` *DStream* (reprezentuje sekwencję RDD).

Operacje na DStream można wykonywać w API JAVA, SCALA, Python, R (nie wszystkie możliwości są dostępne dla Pythona).

Spark Streaming potrzebuje minium 2 rdzenie.

----
- **StreamingContext(sparkContext, batchDuration)** - reprezentuje połączenie z klastrem i służy do tworzenia DStreamów, `batchDuration` wskazuje na granularność batch'y (w sekundach)
- **socketTextStream(hostname, port)** - tworzy DStream na podstawie danych napływających ze wskazanego źródła TCP
- **flatMap(f), map(f), reduceByKey(f)** - działają analogicznie jak w przypadku RDD z tym że tworzą nowe DStream'y
- **pprint(n)** - printuje pierwsze `n` (domyślnie 10) elementów z każdego RDD wygenerowanego w DStream'ie
- **StreamingContext.start()** - rozpoczyna działania na strumieniach
- **StreamingContext.awaitTermination(timeout)** - oczekuje na zakończenie działań na strumieniach
- **StreamingContext.stop(stopSparkContext, stopGraceFully)** - kończy działania na strumieniach

Obiekt StreamingContext można wygenerować za pomocą obiektu SparkContext.


<img src="https://spark.apache.org/docs/latest/img/streaming-dstream.png"/>

<img src="https://spark.apache.org/docs/latest/img/streaming-dstream-ops.png"/>

In [35]:
import re
from pyspark import SparkContext
from pyspark.streaming import StreamingContext

sc = SparkContext("local[2]", "NetworkWordCount")
ssc = StreamingContext(sc, 10)
# DStream
lines = ssc.socketTextStream("localhost", 9999)

words = lines.flatMap(lambda x: re.findall(r"[a-z']+", x.lower()))
wordCounts = words.map(lambda word: (word,1)).reduceByKey(lambda x,y: x+y)

# wydrukuj pierwszy elemnet
wordCounts.pprint()

/usr/local/spark/python/pyspark/streaming/context.py:72: FutureWarning: DStream is deprecated as of Spark 3.4.0. Migrate to Structured Streaming.
  warnings.warn(

In [36]:
# before start run a stream data
ssc.start() # Start the computation
ssc.awaitTermination()
ssc.stop()

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
                          ^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/conda/lib/python3.11/socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
KeyboardInterrupt

KeyboardInterrupt:

-------------------------------------------
Time: 2023-06-11 14:58:30
-------------------------------------------

-------------------------------------------
Time: 2023-06-11 14:58:40
-------------------------------------------

In [ ]:
# w konsoli linuxowej netcat Nmap for windows
!nc -lk 9999

In [ ]:
%%file start_stream.py

from socket import *
import time

rdd = list()
with open("MobyDick_full.txt", 'r') as ad:
    for line in ad:
        rdd.append(line)

HOST = 'localhost'
PORT = 9999
ADDR = (HOST, PORT)
tcpSock = socket(AF_INET, SOCK_STREAM)
tcpSock.bind(ADDR)
tcpSock.listen(5)


while True:
    c, addr = tcpSock.accept()
    print('got connection')
    for line in rdd:
        try:
            c.send(line.encode())
            time.sleep(1)
        except:
            break
    c.close()
    print('disconnected')

In [40]:
spark.stop()

## nowe podejscie

Designed to behave a lot like a SQL table

✅:
- easier to understand,
- Operations using DataFrames are automatically optimized
- When using RDDs, it’s up to the data scientist to figure out the right way to optimize the query, but the DataFrame implementation has much of this optimization built in!

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.getOrCreate()

In [43]:
spark

### Przygotowanie danych

```bash
mkdir data
cd data
curl -L -o donation.zip http://bit.ly/1Aoywaq
unzip donation.zip
unzip 'block_*.zip'

```

In [ ]:
import pandas as pd
df = pd.read_csv("")

In [ ]:
spark.read.

In [44]:
# create dataframe 
prev = spark.read.csv("data/block*.csv")

In [45]:
prev

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [46]:
prev.count()

5749142

In [47]:
prev.show(2)

+----+----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| _c0| _c1|         _c2|         _c3|         _c4|         _c5|    _c6|   _c7|   _c8|   _c9|   _c10|    _c11|
+----+----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
|id_1|id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
|3148|8326|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
+----+----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 2 rows

In [48]:
prev.show()

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
|  _c0|  _c1|         _c2|         _c3|         _c4|         _c5|    _c6|   _c7|   _c8|   _c9|   _c10|    _c11|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
| 3148| 8326|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|14055|94934|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|33948|34740|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|  946|71870|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|64880|71676|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|25739|45991|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|62415|93584|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
|27995|31399|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
| 4909|12238|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|15161|16743|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|31703|37310|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|30213|36558|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|56596|56630|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|16481|21174|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|32649|37094|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|34268|37260|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|66117|69253|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
| 2771|31982|           1|           ?|           1|           ?|      0|     1|     1|     1|      1|    TRUE|
|23557|29673|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [49]:
# dodatkowe opcje z header i wartości null 
parsed = spark.read.option("header", "true")\
.option("nullValue", "?")\
.option("inferSchema", "true")\
.csv("data/block*.csv")

In [50]:
parsed.schema

StructType([StructField('id_1', IntegerType(), True), StructField('id_2', IntegerType(), True), StructField('cmp_fname_c1', DoubleType(), True), StructField('cmp_fname_c2', DoubleType(), True), StructField('cmp_lname_c1', DoubleType(), True), StructField('cmp_lname_c2', DoubleType(), True), StructField('cmp_sex', IntegerType(), True), StructField('cmp_bd', IntegerType(), True), StructField('cmp_bm', IntegerType(), True), StructField('cmp_by', IntegerType(), True), StructField('cmp_plz', IntegerType(), True), StructField('is_match', BooleanType(), True)])

In [51]:
parsed.show(5)

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| 3148| 8326|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|14055|94934|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|33948|34740|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|  946|71870|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|64880|71676|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 5 rows

In [52]:
parsed.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

## inne formaty 

- parquet
- orc
- json
- jdbc
- avro
- yrxy
- image
- libsvm
- binary
- xml

In [53]:
parsed.write.format("parquet").save("data/block.parquet")

In [54]:
t = spark.read.format("parquet").load("data/block.parquet")

In [55]:
t.show(2)

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| 3148| 8326|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|14055|94934|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 2 rows

## schematy danych

In [56]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType

schema = StructType([
  StructField("Date", StringType(), True),
  StructField("Open", DoubleType(), True),
  StructField("High", DoubleType(), True),
  StructField("Low", DoubleType(), True),
  StructField("Close", DoubleType(), True),
  StructField("Volume", IntegerType(), True),
  StructField("Name", StringType(), True)
])


ddlSchemaStr = """Date STRING, Open FLOAT, High FLOAT, 
Low FLOAT, Close FLOAT, Voulme INT, Name String 
"""

In [57]:
#from pyspark.sql import SparkSession

#spark = SparkSession.builder.getOrCreate()

df = spark.read.option("header", True)\
.csv("data/stocks/AAPL_2006-01-01_to_2018-01-01.csv", schema=ddlSchemaStr)

df.show(5)

+----------+-----+-----+-----+-----+---------+----+
|      Date| Open| High|  Low|Close|   Voulme|Name|
+----------+-----+-----+-----+-----+---------+----+
|2006-01-03|10.34|10.68|10.32|10.68|201853036|AAPL|
|2006-01-04|10.73|10.85|10.64|10.71|155225609|AAPL|
|2006-01-05|10.69| 10.7|10.54|10.63|112396081|AAPL|
|2006-01-06|10.75|10.96|10.65| 10.9|176139334|AAPL|
|2006-01-09|10.96|11.03|10.82|10.86|168861224|AAPL|
+----------+-----+-----+-----+-----+---------+----+
only showing top 5 rows

In [58]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Close: float (nullable = true)
 |-- Voulme: integer (nullable = true)
 |-- Name: string (nullable = true)

## dane niustrukturyzowane

In [59]:
%%file test.json

{
 "id": "0001",
 "type": "donut",
 "name": "Cake",
 "ppu": 0.55,
 "batters":
  {
   "batter":
    [
     { "id": "1001", "type": "Regular" },
     { "id": "1002", "type": "Chocolate" },
     { "id": "1003", "type": "Blueberry" }
    ]
  },
 "topping":
  [
   { "id": "5001", "type": "None" },
   { "id": "5002", "type": "Glazed" },
   { "id": "5005", "type": "Sugar" },
   { "id": "5007", "type": "Powdered Sugar" },
   { "id": "5006", "type": "Chocolate with Sprinkles" },
   { "id": "5003", "type": "Chocolate" },
   { "id": "5004", "type": "Maple" }
  ]
}

Overwriting test.json

In [60]:
import pandas as pd
df = pd.read_json("test.json")

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [64]:
rawDFjson = spark.read.json("test.json", multiLine = "true")

In [65]:
rawDFjson.printSchema()

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- type: string (nullable = true)

In [66]:
rawDFjson.show(1, False, vertical=True)

-RECORD 0--------------------------------------------------------------------------------------------------------------------------------------------
 batters | {[{1001, Regular}, {1002, Chocolate}, {1003, Blueberry}]}
 id      | 0001
 name    | Cake
 ppu     | 0.55
 topping | [{5001, None}, {5002, Glazed}, {5005, Sugar}, {5007, Powdered Sugar}, {5006, Chocolate with Sprinkles}, {5003, Chocolate}, {5004, Maple}]
 type    | donut

In [67]:
sampleDF = rawDFjson.withColumnRenamed("id", "key")

In [68]:
sampleDF.printSchema()

root
 |-- batters: struct (nullable = true)
 |    |-- batter: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |-- key: string (nullable = true)
 |-- name: string (nullable = true)
 |-- ppu: double (nullable = true)
 |-- topping: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- type: string (nullable = true)

In [69]:
batDF = sampleDF.select("key", "batters.batter")
batDF.printSchema()

root
 |-- key: string (nullable = true)
 |-- batter: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- type: string (nullable = true)

In [70]:
batDF.show(1, False)

+----+-------------------------------------------------------+
|key |batter                                                 |
+----+-------------------------------------------------------+
|0001|[{1001, Regular}, {1002, Chocolate}, {1003, Blueberry}]|
+----+-------------------------------------------------------+

In [71]:
from pyspark.sql.functions import explode

bat2DF = batDF.select("key", explode("batter").alias("new_batter"))
bat2DF.show()

+----+-----------------+
| key|       new_batter|
+----+-----------------+
|0001|  {1001, Regular}|
|0001|{1002, Chocolate}|
|0001|{1003, Blueberry}|
+----+-----------------+

In [72]:
bat2DF.printSchema()

root
 |-- key: string (nullable = true)
 |-- new_batter: struct (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- type: string (nullable = true)

In [73]:
bat2DF.select("key", "new_batter.*").show()

+----+----+---------+
| key|  id|     type|
+----+----+---------+
|0001|1001|  Regular|
|0001|1002|Chocolate|
|0001|1003|Blueberry|
+----+----+---------+

In [74]:
finalBatDF = (sampleDF
        .select("key",  
explode("batters.batter").alias("new_batter"))
        .select("key", "new_batter.*")
        .withColumnRenamed("id", "bat_id")
        .withColumnRenamed("type", "bat_type"))
finalBatDF.show()

+----+------+---------+
| key|bat_id| bat_type|
+----+------+---------+
|0001|  1001|  Regular|
|0001|  1002|Chocolate|
|0001|  1003|Blueberry|
+----+------+---------+

In [75]:
topDF = (sampleDF
        .select("key", explode("topping").alias("new_topping"))
        .select("key", "new_topping.*")
        .withColumnRenamed("id", "top_id")
        .withColumnRenamed("type", "top_type")
        )
topDF.show(10, False)

+----+------+------------------------+
|key |top_id|top_type                |
+----+------+------------------------+
|0001|5001  |None                    |
|0001|5002  |Glazed                  |
|0001|5005  |Sugar                   |
|0001|5007  |Powdered Sugar          |
|0001|5006  |Chocolate with Sprinkles|
|0001|5003  |Chocolate               |
|0001|5004  |Maple                   |
+----+------+------------------------+

## Eksploracyjna Analiza Danych

In [76]:
# zweryfikuj schemat danych
parsed.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

In [77]:
# sprawdz wartosci dla pierwszego rzedu
parsed.first()

Row(id_1=3148, id_2=8326, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True)

In [78]:
# ile przypadkow 
parsed.count()

5749132

In [79]:
# zapisz do pamieci na klastrze (1 maszyna) 
parsed.cache()

DataFrame[id_1: int, id_2: int, cmp_fname_c1: double, cmp_fname_c2: double, cmp_lname_c1: double, cmp_lname_c2: double, cmp_sex: int, cmp_bd: int, cmp_bm: int, cmp_by: int, cmp_plz: int, is_match: boolean]

In [80]:
# target "is_match" liczba zgodnych i niezgodnych rekordow
from pyspark.sql.functions import col

parsed.groupBy("is_match").count().orderBy(col("count").desc()).show()

+--------+-------+
|is_match|  count|
+--------+-------+
|   false|5728201|
|    true|  20931|
+--------+-------+

In [81]:
parsed.groupBy("is_match").count().orderBy(col("count").desc()).toPandas()

   is_match    count
0     False  5728201
1      True    20931

In [82]:
# sprawdz czy są braki danych 
from pyspark.sql.functions import count, when, isnan

numeric_features = [t[0] for t in parsed.dtypes if t[1] == 'int' or t[1] == 'double']

In [83]:
df = parsed.select(numeric_features)
df.select([count(when(isnan(c)| col(c).isNull() , c)).alias(c) for c in df.columns]).toPandas().head()

,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz
0,0,0,1007,5645434,0,5746668,0,795,795,795,12843

In [84]:
# inne agregaty agg
from pyspark.sql.functions import avg, stddev, stddev_pop

parsed.agg(avg("cmp_sex"), stddev("cmp_sex"), stddev_pop("cmp_sex")).show()

+-----------------+--------------------+-------------------+
|     avg(cmp_sex)|stddev_samp(cmp_sex)|stddev_pop(cmp_sex)|
+-----------------+--------------------+-------------------+
|0.955001381078048|  0.2073011111689795|0.20730109314007356|
+-----------------+--------------------+-------------------+

In [85]:
# polecenia sql - przypisanie nazwy dla silnika sql - tabela przejsciowa
parsed.createOrReplaceTempView("dane")

In [86]:
spark.sql(""" SELECT is_match, COUNT(*) cnt FROM dane group by is_match order by cnt DESC""").show()

+--------+-------+
|is_match|    cnt|
+--------+-------+
|   false|5728201|
|    true|  20931|
+--------+-------+

In [87]:
# zbiorcze statystyki 
summary = parsed.describe()


summary.show()

+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+
|summary|              id_1|              id_2|      cmp_fname_c1|      cmp_fname_c2|      cmp_lname_c1|       cmp_lname_c2|           cmp_sex|             cmp_bd|             cmp_bm|             cmp_by|            cmp_plz|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+
|  count|           5749132|           5749132|           5748125|            103698|           5749132|               2464|           5749132|            5748337|            5748337|            5748337|            5736289|
|   mean| 33324.48559643438| 66587.43558331935|0.7129024704436274|0.9000176718903216|0.3156278193084133|0.31841283153174377| 0.955001381078048|0.22446526708507172|0.48885529849763504| 0.2227485966810923|0.00552866147434343|
| stddev|23659.859374488213|23620.487613269885|0.3887583596162788|0.2713176105782331|0.3342336339615816|0.36856706620066537|0.2073011111689795| 0.4172297223846255| 0.4998758236779038|0.41609096298317344|0.07414914925420066|
|    min|                 1|                 6|               0.0|               0.0|               0.0|                0.0|                 0|                  0|                  0|                  0|                  0|
|    max|             99980|            100000|               1.0|               1.0|               1.0|                1.0|                 1|                  1|                  1|                  1|                  1|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+

In [88]:
summary.toPandas().transpose()

                    0                    1                    2    3       4
summary         count                 mean               stddev  min     max
id_1          5749132    33324.48559643438   23659.859374488213    1   99980
id_2          5749132    66587.43558331935   23620.487613269885    6  100000
cmp_fname_c1  5748125   0.7129024704436274   0.3887583596162788  0.0     1.0
cmp_fname_c2   103698   0.9000176718903216   0.2713176105782331  0.0     1.0
cmp_lname_c1  5749132   0.3156278193084133   0.3342336339615816  0.0     1.0
cmp_lname_c2     2464  0.31841283153174377  0.36856706620066537  0.0     1.0
cmp_sex       5749132    0.955001381078048   0.2073011111689795    0       1
cmp_bd        5748337  0.22446526708507172   0.4172297223846255    0       1
cmp_bm        5748337  0.48885529849763504   0.4998758236779038    0       1
cmp_by        5748337   0.2227485966810923  0.41609096298317344    0       1
cmp_plz       5736289  0.00552866147434343  0.07414914925420066    0       1

In [89]:
summary.select("summary", "cmp_fname_c1", "cmp_fname_c2").show()

+-------+------------------+------------------+
|summary|      cmp_fname_c1|      cmp_fname_c2|
+-------+------------------+------------------+
|  count|           5748125|            103698|
|   mean|0.7129024704436274|0.9000176718903216|
| stddev|0.3887583596162788|0.2713176105782331|
|    min|               0.0|               0.0|
|    max|               1.0|               1.0|
+-------+------------------+------------------+

> która zmienna lepiej opisze dane c1 czy c2

In [90]:
# statystyki dla poszczegolnych klas

# filtrowanie sql
matches = parsed.where("is_match = true")


# filtrowanie pyspark
misses = parsed.filter(col("is_match") == False)

match_summary = matches.describe()
miss_summary = misses.describe()

In [91]:
match_summary.show()

+-------+------------------+-----------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+
|summary|              id_1|             id_2|        cmp_fname_c1|       cmp_fname_c2|       cmp_lname_c1|       cmp_lname_c2|            cmp_sex|             cmp_bd|             cmp_bm|              cmp_by|            cmp_plz|
+-------+------------------+-----------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+
|  count|             20931|            20931|               20922|               1333|              20931|                475|              20931|              20925|              20925|               20925|              20902|
|   mean| 34575.72117911232|51259.95939037791|  0.9973163859635038| 0.9898900320318174| 0.9970152595958817|  0.969370167843852|  0.987291577086618| 0.9970848267622461| 0.9979450418160095|  0.9961290322580645| 0.9584250310975027|
| stddev|21950.312851969127| 24345.7334537752|0.036506675848336785|0.08251973727615237|0.04311880753394512|0.15345280740388917|0.11201570591216432|0.05391487659807977|0.04528612745217063|0.062098048567310576|0.19962063345931927|
|    min|                 5|                6|                 0.0|                0.0|                0.0|                0.0|                  0|                  0|                  0|                   0|                  0|
|    max|             99946|            99996|                 1.0|                1.0|                1.0|                1.0|                  1|                  1|                  1|                   1|                  1|
+-------+------------------+-----------------+--------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+

In [92]:
miss_summary.show()

+-------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-----------------+-------------------+--------------------+
|summary|              id_1|              id_2|       cmp_fname_c1|      cmp_fname_c2|       cmp_lname_c1|       cmp_lname_c2|            cmp_sex|            cmp_bd|           cmp_bm|             cmp_by|             cmp_plz|
+-------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-----------------+-------------------+--------------------+
|  count|           5728201|           5728201|            5727203|            102365|            5728201|               1989|            5728201|           5727412|          5727412|            5727412|             5715387|
|   mean|33319.913548075565| 66643.44259218557| 0.7118634802174252|0.8988473514090173|0.31313801133682906|0.16295544855122554| 0.9548833918362851|0.2216425149788421|0.486995347986141| 0.2199230647280133|0.002043781112285135|
| stddev|23665.760130330764|23599.551728241124|0.38908060096985714|0.2727209029401023| 0.3322812130572706|0.19302366635287027|0.20755988859217656|0.4153518275558737| 0.49983089404939|0.41419432671429335| 0.04516197989362504|
|    min|                 1|                30|                0.0|               0.0|                0.0|                0.0|                  0|                 0|                0|                  0|                   0|
|    max|             99980|            100000|                1.0|               1.0|                1.0|                1.0|                  1|                 1|                1|                  1|                   1|
+-------+------------------+------------------+-------------------+------------------+-------------------+-------------------+-------------------+------------------+-----------------+-------------------+--------------------+

In [93]:
miss_summary.select("summary", "cmp_fname_c1", "cmp_fname_c2").show()

+-------+-------------------+------------------+
|summary|       cmp_fname_c1|      cmp_fname_c2|
+-------+-------------------+------------------+
|  count|            5727203|            102365|
|   mean| 0.7118634802174252|0.8988473514090173|
| stddev|0.38908060096985714|0.2727209029401023|
|    min|                0.0|               0.0|
|    max|                1.0|               1.0|
+-------+-------------------+------------------+

## Tabele przestawne spark

In [94]:
summary_p = summary.toPandas()

In [95]:
summary_p.head()

,summary,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz
0,count,5749132,5749132,5748125,103698,5749132,2464,5749132,5748337,5748337,5748337,5736289
1,mean,33324.48559643438,66587.43558331935,0.7129024704436274,0.9000176718903216,0.3156278193084133,0.31841283153174377,0.955001381078048,0.22446526708507172,0.48885529849763504,0.2227485966810923,0.00552866147434343
2,stddev,23659.859374488213,23620.487613269885,0.3887583596162788,0.2713176105782331,0.3342336339615816,0.36856706620066537,0.2073011111689795,0.4172297223846255,0.4998758236779038,0.41609096298317344,0.07414914925420066
3,min,1,6,0.0,0.0,0.0,0.0,0,0,0,0,0
4,max,99980,100000,1.0,1.0,1.0,1.0,1,1,1,1,1

In [96]:
summary_p.shape

(5, 12)

In [97]:
summary_p = summary_p.set_index('summary').transpose().reset_index()
summary_p = summary_p.rename(columns={'index':'field'})
summary_p = summary_p.rename_axis(None, axis=1)

In [98]:
summaryT = spark.createDataFrame(summary_p)
summaryT.show()

+------------+-------+-------------------+-------------------+---+------+
|       field|  count|               mean|             stddev|min|   max|
+------------+-------+-------------------+-------------------+---+------+
|        id_1|5749132|  33324.48559643438| 23659.859374488213|  1| 99980|
|        id_2|5749132|  66587.43558331935| 23620.487613269885|  6|100000|
|cmp_fname_c1|5748125| 0.7129024704436274| 0.3887583596162788|0.0|   1.0|
|cmp_fname_c2| 103698| 0.9000176718903216| 0.2713176105782331|0.0|   1.0|
|cmp_lname_c1|5749132| 0.3156278193084133| 0.3342336339615816|0.0|   1.0|
|cmp_lname_c2|   2464|0.31841283153174377|0.36856706620066537|0.0|   1.0|
|     cmp_sex|5749132|  0.955001381078048| 0.2073011111689795|  0|     1|
|      cmp_bd|5748337|0.22446526708507172| 0.4172297223846255|  0|     1|
|      cmp_bm|5748337|0.48885529849763504| 0.4998758236779038|  0|     1|
|      cmp_by|5748337| 0.2227485966810923|0.41609096298317344|  0|     1|
|     cmp_plz|5736289|0.00552866147434343|0.07414914925420066|  0|     1|
+------------+-------+-------------------+-------------------+---+------+

In [99]:
summaryT.printSchema() # czy dobre typy danych ??

root
 |-- field: string (nullable = true)
 |-- count: string (nullable = true)
 |-- mean: string (nullable = true)
 |-- stddev: string (nullable = true)
 |-- min: string (nullable = true)
 |-- max: string (nullable = true)

In [100]:
from pyspark.sql.types import DoubleType

for c in summaryT.columns:
    if c == 'field':
        continue
    summaryT = summaryT.withColumn(c, summaryT[c].cast(DoubleType()))

In [101]:
summaryT.printSchema() # teraz lepiej

root
 |-- field: string (nullable = true)
 |-- count: double (nullable = true)
 |-- mean: double (nullable = true)
 |-- stddev: double (nullable = true)
 |-- min: double (nullable = true)
 |-- max: double (nullable = true)

In [102]:
# wykonaj to samo dla tabel match i miss

In [103]:
def pivot_summary(desc):
    desc_p = desc.toPandas()
    desc_p = desc_p.set_index('summary').transpose().reset_index()
    desc_p = desc_p.rename(columns={'index':'field'})
    desc_p = desc_p.rename_axis(None, axis=1)
    descT = spark.createDataFrame(desc_p)
    for c in descT.columns:
        if c == 'field':
            continue
        else:
            descT = descT.withColumn(c, descT[c].cast(DoubleType()))
    return descT

In [104]:
match_summaryT = pivot_summary(match_summary)
miss_summaryT = pivot_summary(miss_summary)

## złączenia

In [105]:
match_summaryT.createOrReplaceTempView("match_s")
miss_summaryT.createOrReplaceTempView("miss_s")

In [106]:
spark.sql("""
Select a.field, a.count + b.count total, a.mean - b.mean delta
from match_s a inner join miss_s b on a.field = b.field 
where a.field not in ("id_1", "id_2")
order by delta DESC, total DESC
""").show()

+------------+---------+--------------------+
|       field|    total|               delta|
+------------+---------+--------------------+
|     cmp_plz|5736289.0|  0.9563812499852176|
|cmp_lname_c2|   2464.0|  0.8064147192926264|
|      cmp_by|5748337.0|  0.7762059675300512|
|      cmp_bd|5748337.0|   0.775442311783404|
|cmp_lname_c1|5749132.0|  0.6838772482590526|
|      cmp_bm|5748337.0|  0.5109496938298685|
|cmp_fname_c1|5748125.0|  0.2854529057460786|
|cmp_fname_c2| 103698.0| 0.09104268062280008|
|     cmp_sex|5749132.0|0.032408185250332844|
+------------+---------+--------------------+

> do modelu : `cmp_plz`, `cmp_by`, `cmp_bd`, `cmp_lname_c1`, `cmp_bm`

In [107]:
## score = suma zmiennych
zmienne = ['cmp_plz','cmp_by','cmp_bd','cmp_lname_c1','cmp_bm']
suma = " + ".join(zmienne)

In [108]:
suma

'cmp_plz + cmp_by + cmp_bd + cmp_lname_c1 + cmp_bm'

In [109]:
from pyspark.sql.functions import expr

In [110]:
scored = parsed.fillna(0, subset=zmienne)\
.withColumn('score', expr(suma))\
.select('score','is_match')

In [111]:
scored.show()

+-----+--------+
|score|is_match|
+-----+--------+
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  4.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
|  4.0|    true|
|  5.0|    true|
|  5.0|    true|
|  5.0|    true|
+-----+--------+
only showing top 20 rows

In [112]:
# ocena wartosci progowej
def crossTabs(scored, t):
    return scored.selectExpr(f"score >= {t} as above", "is_match")\
    .groupBy("above").pivot("is_match",("true","false"))\
    .count()

In [113]:
crossTabs(scored, 4.0).show()

+-----+-----+-------+
|above| true|  false|
+-----+-----+-------+
| true|20871|    637|
|false|   60|5727564|
+-----+-----+-------+

In [114]:
crossTabs(scored, 3.0).show()

+-----+-----+-------+
|above| true|  false|
+-----+-----+-------+
| true|20916| 315213|
|false|   15|5412988|
+-----+-----+-------+

In [115]:
# sprawdx train, test = labelDF.randomSplit([0.8, 0.2], seed=24)

In [116]:
from pyspark.ml.feature import VectorAssembler

In [117]:
input_cols = zmienne
va = VectorAssembler(inputCols=input_cols, outputCol="featuresVector", handleInvalid="skip")

train_X = va.transform(parsed)

In [118]:
train_X.select(zmienne +["is_match", "featuresVector"]).show(5)

+-------+------+------+------------+------+--------+--------------------+
|cmp_plz|cmp_by|cmp_bd|cmp_lname_c1|cmp_bm|is_match|      featuresVector|
+-------+------+------+------------+------+--------+--------------------+
|      1|     1|     1|         1.0|     1|    true|[1.0,1.0,1.0,1.0,...|
|      1|     1|     1|         1.0|     1|    true|[1.0,1.0,1.0,1.0,...|
|      1|     1|     1|         1.0|     1|    true|[1.0,1.0,1.0,1.0,...|
|      1|     1|     1|         1.0|     1|    true|[1.0,1.0,1.0,1.0,...|
|      1|     1|     1|         1.0|     1|    true|[1.0,1.0,1.0,1.0,...|
+-------+------+------+------------+------+--------+--------------------+
only showing top 5 rows

In [119]:
from pyspark.ml.classification import DecisionTreeClassifier

In [120]:
from pyspark.sql.functions import udf


from pyspark.sql.types import IntegerType

def isTrue(x):
    if x == True:
        return 1
    else: 
        return 0

def isTrue2(x):
    return int(x)
    
new_f = udf(isTrue, IntegerType())

new_f2 = udf(isTrue2, IntegerType())

new_f3 = udf(lambda y: 1 if y==True else 0, IntegerType())

In [121]:
train_x = train_X.withColumn("target", new_f("is_match"))

targety = train_X.withColumn("t1", new_f("is_match"))\
.withColumn("t2", new_f2("is_match"))\
.withColumn("t3", new_f3("is_match")).select("is_match", "t1","t2","t3").show(10)

+--------+---+---+---+
|is_match| t1| t2| t3|
+--------+---+---+---+
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
|    true|  1|  1|  1|
+--------+---+---+---+
only showing top 10 rows

In [122]:
clf = DecisionTreeClassifier(seed=32, labelCol="target", 
                             featuresCol="featuresVector", 
                             predictionCol="prediction")
model = clf.fit(train_x)

In [123]:
print(model.toDebugString)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_5d1495b50bc6, depth=5, numNodes=25, numClasses=2, numFeatures=5
  If (feature 0 <= 0.5)
   If (feature 3 <= 0.9545454545454545)
    Predict: 0.0
   Else (feature 3 > 0.9545454545454545)
    If (feature 1 <= 0.5)
     Predict: 0.0
    Else (feature 1 > 0.5)
     If (feature 2 <= 0.5)
      Predict: 0.0
     Else (feature 2 > 0.5)
      If (feature 4 <= 0.5)
       Predict: 0.0
      Else (feature 4 > 0.5)
       Predict: 1.0
  Else (feature 0 > 0.5)
   If (feature 2 <= 0.5)
    If (feature 3 <= 0.9545454545454545)
     Predict: 0.0
    Else (feature 3 > 0.9545454545454545)
     If (feature 1 <= 0.5)
      Predict: 0.0
     Else (feature 1 > 0.5)
      If (feature 4 <= 0.5)
       Predict: 0.0
      Else (feature 4 > 0.5)
       Predict: 1.0
   Else (feature 2 > 0.5)
    If (feature 3 <= 0.707142857142857)
     Predict: 0.0
    Else (feature 3 > 0.707142857142857)
     If (feature 4 <= 0.5)
      If (feature 1 <= 0.5)
       Predict: 0.0
      Else (feature 1 > 0.5)
       Predict: 1.0
     Else (feature 4 > 0.5)
      Predict: 1.0

In [124]:
import pandas as pd 

pd.DataFrame(model.featureImportances.toArray(),index = zmienne, columns=['importance'])\
.sort_values(by="importance", ascending=False)

              importance
cmp_plz         0.610380
cmp_bd          0.276839
cmp_lname_c1    0.092162
cmp_bm          0.016819
cmp_by          0.003800

In [125]:
model.transform(train_x).select(["target","rawPrediction","probability","prediction"]).show(2, False)

+------+--------------+----------------------------------------+----------+
|target|rawPrediction |probability                             |prediction|
+------+--------------+----------------------------------------+----------+
|1     |[16.0,19897.0]|[8.034952041380003E-4,0.999196504795862]|1.0       |
|1     |[16.0,19897.0]|[8.034952041380003E-4,0.999196504795862]|1.0       |
+------+--------------+----------------------------------------+----------+
only showing top 2 rows

# STREAM on DATAFRAME

In [126]:
%%file streamWordCount.py

from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split

if __name__ == "__main__":
    spark = SparkSession.builder.appName("Stream_DF").getOrCreate()
    spark.sparkContext.setLogLevel("ERROR")
    
    lines = (spark
         .readStream
         .format("socket")
         .option("host", "localhost")
         .option("port", 9999)
         .load())

    words = lines.select(explode(split(lines.value, " ")).alias("word"))
    word_counts = words.groupBy("word").count()

    streamingQuery = (word_counts
         .writeStream
         .format("console")
         .outputMode("complete")
         .trigger(processingTime="5 second")
         .start())

    streamingQuery.awaitTermination()

Overwriting streamWordCount.py

In [ ]:
!spark-submit streamWordCount.py